html {
  background-color: rgb(254, 193, 202);
}

.title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
  gap: 10px;
  text-align: center;
  width: 45%;
  height: auto;
  margin: auto;
}

.card {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  font-size: xxx-large;
  background-color: white;
  border: 1px solid black;
  color: transparent;
  text-align: center;
}

.card.matched {
  background-color: rgb(174, 243, 174);
  color: black;
}

.card.active {
  color: white;
}
